@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

:root {
    --hover-clock: #DF405A;
    --background-clock: #311E3E;
    --color-text: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to left,#311E3E, #512645);
}

h1 {
    color:var(--hover-clock);
    font-size: 2em;
    margin: 1em;
    letter-spacing: 0.1em;
    text-align: center;
}

.clock {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-text);
    background-color: var(--background-clock);
    width: 25em;
    padding: 1em 2em;
    border: 0.2em solid var(--hover-clock);
    border-radius: 0.2em;
    -webkit-box-reflect: below 0.1em linear-gradient(transparent, rgba(255, 255, 255, 0.1));
    position: relative;
}

.clock:hover, .clockutc:hover, .clocknewyork:hover, .clocktokyo:hover {
    background-color: var(--hover-clock);
    box-shadow: 0 0 2em var(--hover-clock);
    transition: 2s;
}

#date {
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: 0.1em;
}

#time {
    font-size: 2.5em;
}

.clockutc, .clocknewyork, .clocktokyo {
    color: var(--color-text);
    background-color: var(--background-clock);
    width: 18em;
    text-align: center;
    padding: 1em;
    border: 0.2em solid var(--hover-clock);
    border-radius: 0.2em;
    letter-spacing: 0.1em;
    margin: 1em;
}

.timezone {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer {
    color: white;
    display: flex;
    margin-top: 2em;
}