@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to left,#311E3E, #512645);
}

h1 {
    color:#DF405A;
    font-size: 2em;
    margin: 1em;
    letter-spacing: 0.1em;
}

.clock {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    background-color: #311E3E;
    width: 22em;
    padding: 1em 2em;
    border: 0.2em solid #DF405A;
    border-radius: 0.2em;
    -webkit-box-reflect: below 0.1em linear-gradient(transparent, rgba(255, 255, 255, 0.5));
}

.clock:hover {
    background-color: #DF405A;
    box-shadow: 0 0 2em #DF405A;
}

#date {
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: 0.1em;
}

#time {
    font-size: 2.5em;
}